@charset "utf-8";

.yunj-import-box {
    width: 100%;
    margin: 0;
}

.yunj-import-btn-box {
    display: flex;
    justify-content: flex-start;
}

.yunj-import-step-box {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
}

.yunj-import-step-box .item {
    display: flex;
    align-items: center;
}

.yunj-import-step-box .item * {
    color: #eee;
    border-color: #eee;
}

.yunj-import-step-box .item.finish *,
.yunj-import-step-box .item.curr * {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.yunj-import-step-box .item:not(:first-child) {
    flex: 1;
    justify-content: end;
    margin-left: 10px;
}

.yunj-import-step-box .item > .content {
    display: flex;
    align-items: center;
}

.yunj-import-step-box .item .icon-box {
    height: 30px;
    width: 30px;
    border: 2px solid;
    border-radius: 50%;
    position: relative;
}

.yunj-import-step-box .item .icon-box > * {
    position: absolute;
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    font-size: 20px;
}

.yunj-import-step-box .item .icon-box > .layui-icon,
.yunj-import-step-box .item.finish .icon-box > .no {
    display: none;
}

.yunj-import-step-box .item.finish .icon-box > .layui-icon {
    display: block;
}

.yunj-import-step-box .item .txt {
    margin: 0 0 0 10px;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
}

.yunj-import-step-box .item .line {
    border-bottom: 2px solid;
    margin-right: 10px;
    flex: 1;
}

.yunj-import-step-box .item:first-child .line {
    display: none;
}

.yunj-import-step-content {
    display: none;
}

.yunj-import-step-content.active {
    display: block;
}

.yunj-import-step-content-row {
    margin-bottom: 15px;
}

.yunj-import-step-content-row.file-upload-box {
    border: 1px dashed #e2e2e2;
    position: relative;
}

.yunj-import-step-content-row.file-upload-box .file-drag {
    padding: 30px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    color: #999;
    display: block;
}

.yunj-import-step-content-row.file-upload-box .file-drag .layui-icon {
    font-size: 50px;
    color: var(--primary-color);
}

.yunj-import-step-content-row.file-upload-box .file-preview {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
}

.yunj-import-step-content-row.file-upload-box .file-preview .item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-bottom: 5px;
}

.yunj-import-step-content-row.file-upload-box .file-preview .item * {
    height: 20px;
    line-height: 20px;
    margin: 0 2px;
}

.yunj-import-step-content-row.file-upload-box .file-preview .item .name {
    color: var(--danger-color);
    font-weight: 600;
}

.yunj-import-step-content-row.file-upload-box .file-preview .item .remove {
    color: #c2c2c2;
    cursor: pointer;
}

.yunj-import-step-content-row.file-upload-box .file-preview .item .remove:hover {
    color: var(--danger-color);
}

.yunj-import-step-content-row.action-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.yunj-import-step-content-row.action-box > .types {
    justify-content: flex-start;
    height: 30px;
    line-height: 30px;
}

.yunj-import-step-content-row.action-box > .types .split {
    margin: 0 5px;
}

.yunj-import-step-content-row.action-box > .types a.all,
.yunj-import-step-content-row.action-box.type-tab-tables .tab-tables .import-status-cell.wait {
    color: #393D49;
}

.yunj-import-step-content-row.action-box > .types a.normal,
.yunj-import-step-content-row.action-box > .types a.success,
.yunj-import-step-content-row.action-box.type-tab-tables .tab-tables .import-status-cell.success {
    color: var(--primary-color);
}

.yunj-import-step-content-row.action-box > .types a.error,
.yunj-import-step-content-row.action-box > .types a.fail,
.yunj-import-step-content-row.action-box.type-tab-tables .tab-tables .import-status-cell.fail {
    color: var(--danger-color);
}

.yunj-import-step-content-row.action-box > .types a {
    border: 1px solid #fff;
    display: inline-block;
    line-height: 30px;
    height: 30px;
    box-sizing: border-box;
}

.yunj-import-step-content-row.action-box > .types a.all.active {
    border-bottom-color: #393D49;
}

.yunj-import-step-content-row.action-box > .types a.normal.active,
.yunj-import-step-content-row.action-box > .types a.success.active {
    border-bottom-color: var(--primary-color);
}

.yunj-import-step-content-row.action-box > .types a.error.active,
.yunj-import-step-content-row.action-box > .types a.fail.active {
    border-bottom-color: var(--danger-color);
}

.yunj-import-step-content-row.action-box > .type-action > .action {
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.yunj-import-step-content-row.action-box > .type-action > .action.active {
    display: flex;
}

.yunj-import-step-content-row.action-box > .type-action .tips{
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
}

.yunj-import-step-content-row.action-box > .type-action .normal .tips .check-count {
    color: var(--primary-color);
}

.yunj-import-step-content-row.action-box > .type-action .error .tips .check-count {
    color: var(--danger-color);
}

.yunj-import-step-content-row.action-box > .type-action .all .tips .import-rate {
    color: #2F4056;
}

.yunj-import-step-content-row.action-box > .type-action .layui-form {
    margin-left: 10px;
}

.yunj-import-step-content-row.action-box > .type-action .layui-form-checkbox {
    margin: 0;
}

.yunj-import-step-content-row.action-box.action-notice {
    color: var(--danger-color);
    justify-content: end;
}

.yunj-import-step-content-row.action-box.type-tab-tables .tab-tables {
    width: 100%;
    display: none;
}

.yunj-import-step-content-row.action-box.type-tab-tables .tab-tables.active {
    display: block;
}

.yunj-import-step-content-row.action-box.type-tab-tables .tab-tables .error-cell,
.yunj-import-step-content-row.action-box.type-tab-tables .tab-tables .fail-cell {
    background: var(--danger-color);
    cursor: pointer;
    min-height: 26px;
}

.yunj-import-step-content-row.action-box.type-tab-tables .tab-tables .layui-tab-title .layui-badge {
    left: 5px;
    top: -1px;
    height: 14px;
    line-height: 14px;
    padding: 0 4px;
}

.yunj-import-step-content-row.action-box.type-tab-tables .tab-tables .layui-tab-title .layui-icon-loading {
    display: none;
}

.yunj-import-step-content-row.action-box.type-tab-tables .tab-tables .layui-tab-title .layui-icon-loading.importing {
    display: inline-block;
}

.yunj-import-step-content-row .layui-tab-content {
    padding: 0;
}

.yunj-import-step-content-row .layui-tab-content table {
    margin: 0;
}

.yunj-import-step-content.three .import-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.yunj-import-step-content.three .import-action .desc {
    display: flex;
}

.yunj-import-step-content.three .import-action .desc .item {
    margin-right: 15px;
}

.yunj-import-step-content.three .import-action .desc .error .count,
.yunj-import-step-content.three .import-action .desc .fail .count {
    color: var(--danger-color);
}

.yunj-import-step-content.three .import-action .desc .success .count {
    color: var(--primary-color);
}


.yunj-import-btn-box .layui-btn {
    display: none;
    margin: 0 10px 0 0;
}

.yunj-import-btn-box .layui-btn.active {
    display: inline-block;
}

.yunj-import-header {
    padding: 10px 0;
}

/* tab页面顶部固定 */
.yunj-import-box.head-fixed .yunj-import-header {
    position: fixed;
    top: 40px;
    left: 15px;
    right: 15px;
    z-index: 999;
    background: #fff;
}

.yunj-import-box.head-fixed .yunj-import-content-box {
    padding-top: 90px;
}

/* popup页面顶部固定 */
.yunj-popup .yunj-import-box.head-fixed .yunj-import-header {
    top: 0;
}

@media screen and (max-width: 768px) {

    .yunj-import-step-box .item > .content {
        flex-direction: column;
    }

    .yunj-import-step-box .item .txt {
        margin: 10px 0 0 0;
    }

}