@charset "utf-8";

:root {
    --primary-color: #009688;
    --danger-color: #FF5722;
}

/* icon */
@font-face {
    font-family: "yunj-icon"; /* Project id 1954410 */
    src: url('../font/iconfont.eot?t=1708334065636'); /* IE9 */
    src: url('../font/iconfont.eot?t=1708334065636#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/iconfont.woff2?t=1708334065636') format('woff2'),
    url('../font/iconfont.woff?t=1708334065636') format('woff'),
    url('../font/iconfont.ttf?t=1708334065636') format('truetype'),
    url('../font/iconfont.svg?t=1708334065636#yunj-icon') format('svg');
}

.yunj-icon {
    font-family: "yunj-icon" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.yunj-icon-download:before {
    content: "\e601";
}

.yunj-icon-remove:before {
    content: "\e63a";
}

.yunj-icon-rename:before {
    content: "\e669";
}

.yunj-icon-fall:before {
    content: "\e69e";
}

.yunj-icon-rise:before {
    content: "\e69f";
}

.yunj-icon-click:before {
    content: "\e655";
}

.yunj-icon-login:before {
    content: "\e6bd";
}

.yunj-icon-baidu:before {
    content: "\e651";
}

.yunj-icon-sub:before {
    content: "\e600";
}

.yunj-icon-time:before {
    content: "\e8c4";
}

.yunj-icon-category:before {
    content: "\e62f";
}

.yunj-icon-eye:before {
    content: "\e611";
}

.yunj-icon-pen:before {
    content: "\e67b";
}

.yunj-icon-list:before {
    content: "\e646";
}

.yunj-icon-clear:before {
    content: "\e946";
}

.yunj-icon-submit:before {
    content: "\e645";
}

.yunj-icon-back:before {
    content: "\e614";
}

.yunj-icon-refresh:before {
    content: "\e648";
}

.yunj-icon-sort:before {
    content: "\e608";
}

.yunj-icon-sort-circle:before {
    content: "\e650";
}

/* 页面 */
* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    width: 100%;
    min-height: 100%;
    background: #f1f1f1;
}

.x-red {
    color: red;
}

.layui-form-switch {
    margin-top: 0;
}

.layui-elem-quote,
.layui-btn-primary:hover,
.left-nav a:hover,
.left-nav a.active,
.layui-form-onswitch,
.layui-input:focus, .layui-textarea:focus,
.layui-form-checkbox:hover i, .layui-form-checked i,
.layui-table-view .layui-table td[data-edit]:hover:after,
.layui-laydate-content td.laydate-day-now:after,
.layui-tab-brief > .layui-tab-more li.layui-this:after,
.layui-tab-brief > .layui-tab-title .layui-this:after,
.header .top-menu > .top-menu-item .top-menu-item:hover > a,
.layui-laypage input:focus, .layui-laypage select:focus {
    border-color: var(--primary-color) !important;
}

.login .message,
.login input[type=submit], .login input[type=button],
.header,
.left-nav a:hover,
.left-nav a.active,
.layui-form-onswitch,
.layui-btn, .layui-form-checked i,
.layui-laydate .layui-this, .layui-laydate .layui-this > div,
.layui-laypage .layui-laypage-curr .layui-laypage-em,
.header .top-menu > .top-menu-item .top-menu-item:hover > a,
.yunj-elem-progress, .yunj-elem-progress .yunj-elem-progress-bar {
    background-color: var(--primary-color) !important;
}

.layui-laypage a:hover,
.layui-breadcrumb a:hover,
.layui-tab-brief > .layui-tab-title .layui-this,
.layui-btn-primary:hover,
.layui-form-select dl dd.layui-this,
.layui-form-radio:hover > *, .layui-form-radioed, .layui-form-radioed > i,
.layui-form-checkbox:hover > div, .layui-form-checked > div,
.layui-laydate-content td.laydate-day-now,
.layui-laydate-header i:hover, .layui-laydate-header span:hover,
.layui-laydate-footer span:hover,
.yunj-dropdown-group dl dd:hover,
.global-search .result > .item:hover > a {
    color: var(--primary-color) !important;
}

.layui-tab-brief > .layui-tab-more li.layui-this:after,
.layui-tab-brief > .layui-tab-title .layui-this:after {
    border-bottom: 2px solid !important;
}

.layui-fluid {
    padding: 15px;
}

.layui-col-space15 > * {
    padding-bottom: 0;
}

.yunj-iframe-body {
    position: relative;
}

.yunj-iframe-nav {
    padding: 0 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    border-bottom: 1px solid #e5e5e5;
    line-height: 39px;
    height: 39px;
    overflow: hidden;
    background: #fff;
}

.yunj-popup {
    background: #fff !important;
}

.yunj-popup .yunj-iframe-nav {
    background: #f1f1f1;
    border: 0;
    display: none;
}

.yunj-iframe-content {
    padding: 15px;
    background: #fff;
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
}

.yunj-popup .yunj-iframe-content {
    top: 0;
}

.page {
    text-align: center;
}

.page a {
    display: inline-block;
    background: #fff;
    color: #888;
    padding: 5px;
    min-width: 15px;
    border: 1px solid #E2E2E2;

}

.page span {
    display: inline-block;
    padding: 5px;
    min-width: 15px;
    border: 1px solid #E2E2E2;
}

.page span.current {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 5px;
    min-width: 15px;
    border: 1px solid var(--primary-color);
}

.page .pagination li {
    display: inline-block;
    margin-right: 5px;
    text-align: center;
}

.page .pagination li.active span {
    background: var(--primary-color);
    color: #fff;
    border: 1px solid var(--primary-color);

}

.yunj-admin-carousel, .layui-carousel, .yunj-admin-carousel > [carousel-item] > * {
    background-color: #fff
}

.yunj-admin-backlog .yunj-admin-backlog-body {
    display: block;
    padding: 10px 15px;
    background-color: #f8f8f8;
    color: #999;
    border-radius: 2px;
    transition: all .3s;
    -webkit-transition: all .3s
}

.yunj-admin-backlog-body h3 {
    padding-bottom: 10px;
    font-size: 12px
}

.yunj-admin-backlog-body p cite {
    font-style: normal;
    font-size: 30px;
    font-weight: 300;
    color: var(--primary-color)
}

.yunj-admin-backlog-body:hover {
    background-color: #CFCFCF;
    color: #888
}

table th, table td {
    word-break: break-all;
}

/*404页面样式*/
.fly-panel {
    margin-bottom: 15px;
    border-radius: 2px;
    /*background-color: #fff;*/
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
}

.fly-none {
    min-height: 600px;
    text-align: center;
    padding-top: 50px;
    color: #999;
}

.fly-none .layui-icon {
    line-height: 300px;
    font-size: 300px;
    color: #393D49;
}

.fly-none p {
    margin-top: 50px;
    padding: 0 15px;
    font-size: 20px;
    color: #999;
    font-weight: 300;
}

/*精细版样式*/

.yunj-admin-sm {
    font-size: 12px;
}

.yunj-admin-sm body {
    font-size: 12px;
}

.yunj-admin-sm select {
    font-size: 12px;
}

.yunj-admin-sm .layui-table td, .yunj-admin-sm .layui-table th {
    font-size: 12px;
}

.yunj-admin-sm .layui-elem-field legend {
    font-size: 18px;
}

.yunj-admin-sm .yunj-admin-backlog-body p cite {
    font-size: 24px;
}

.yunj-admin-sm .left-nav #nav li a cite {
    font-size: 12px;
}

.yunj-admin-sm .left-nav a:hover,
.yunj-admin-sm .left-nav a.active {
    color: #fff !important;
}

.yunj-admin-sm .left-nav {
    background: #eee !important;
}

.yunj-admin-sm .left-nav a {
    color: #333 !important;
}

.yunj-admin-sm .iconfont {
    font-size: 14px;
}

.yunj-admin-sm .layui-tab-title li {
    font-size: 12px;
}

.yunj-admin-sm .layui-icon {
    font-size: 14px;
}

.yunj-admin-sm .layui-nav * {
    font-size: 12px;
}

.yunj-admin-sm .layui-breadcrumb > * {
    font-size: 12px;
}

.yunj-admin-sm .layui-breadcrumb a {
    cursor: pointer;
}

.yunj-admin-sm .layui-btn, .yunj-admin-sm .layui-btn-xs, .yunj-admin-sm .layui-btn-sm {
    font-size: 12px;
}

.yunj-admin-sm .layui-laydate {
    font-size: 12px;
}

.yunj-admin-sm .layui-btn-lg {
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    font-size: 14px;
}

.yunj-admin-sm .layui-layer-title, .yunj-admin-sm .layui-layer-dialog .layui-layer-content {
    font-size: 12px;
}

.yunj-admin-sm .layui-input, .yunj-admin-sm .layui-select, .yunj-admin-sm .layui-textarea {
    height: 30px;
}

.yunj-admin-sm .header .layui-nav-more {
    top: 0;
}

.header .top-menu > .top-menu-item:hover > a {
    color: #fff !important;
}

.header .top-menu > .top-menu-item .top-menu-item:hover > a {
    color: #fff;
}

.yunj-form {
    margin: 0 -15px -15px -15px;
}

.yunj-form > .layui-row {
    width: 100%;
}

.yunj-admin-sm .yunj-form > .layui-row > div {
    padding: 0 15px 15px 15px;
}

.yunj-admin-sm .yunj-form-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0 !important;
}

.yunj-admin-sm .yunj-form-item.yunj-form-hidden {
    margin: 0;
}

.yunj-admin-sm .yunj-form-item .yunj-form-item-control {
    position: relative;
}

.yunj-admin-sm .yunj-form-item .yunj-form-item-control .field-actions {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yunj-admin-sm .yunj-form-item .yunj-form-item-control .field-actions .action-item {
    margin-left: 5px;
}

.yunj-admin-sm .yunj-form-item .yunj-form-item-control .field-actions .action-item:last-child {
    margin-right: 10px;
}

.yunj-admin-sm .yunj-form-item .yunj-form-item-control .field-actions .action-item.content-clear,
.yunj-admin-sm .yunj-form-item.yunj-form-password .yunj-form-item-control .field-actions .action-item.content-eye {
    display: none;
}

.yunj-admin-sm .yunj-form-item .yunj-form-item-control .field-actions .action-item.layui-icon,
.yunj-admin-sm .yunj-form-item.yunj-form-text .yunj-form-item-control .field-actions .action-item.char-num {
    color: #d2d2d2;
}

.yunj-admin-sm .yunj-form-item .yunj-form-item-control .field-actions .action-item.layui-icon:hover {
    color: #c2c2c2;
    cursor: pointer;
}

.yunj-admin-sm .yunj-form-item .yunj-form-item-control .field-actions .action-item.select-icon.select-icon-up {
    transform: rotate(180deg);
}

.yunj-admin-sm .yunj-form-item .yunj-form-item-control .select-popup {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 899;
    border: 1px solid #eee;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 1px 1px 4px rgb(0 0 0 / 8%);
}

.yunj-admin-sm .yunj-form-item.yunj-form-textarea .yunj-form-item-control .char-num {
    position: absolute;
    bottom: 6px;
    right: 10px;
    margin-left: 5px;
    background: #fff;
    color: #d2d2d2;
}

.yunj-admin-sm .yunj-form-item.yunj-form-area .yunj-form-item-control {
    display: flex;
}

.yunj-admin-sm .yunj-form-item.yunj-form-table .layui-table {
    margin: 0;
}

.yunj-admin-sm .yunj-form-item.yunj-form-table .layui-none {
    display: none;
}

.yunj-admin-sm .yunj-form-item.yunj-form-table .layui-table-cell {
    height: 28px;
    padding: 0 15px;
}

.yunj-admin-sm .yunj-form-item.yunj-form-table .yunj-form-table-sort-item {
    cursor: move;
}

.yunj-admin-sm .yunj-form-item.yunj-form-table .yunj-form-table-sort-item-checked {
    background-color: #f2f2f2;
}

.yunj-admin-sm .yunj-form-item.yunj-form-table .layui-table-pageview {
    display: none;
}

.yunj-admin-sm .yunj-form-item.yunj-form-table .layui-table-pagebar {
    float: left;
}

.yunj-form-icon .yunj-form-item-control {
    display: flex;
}

.yunj-form-icon .icon-box {
    width: 100%;
}

.yunj-form-icon .icon-box .icon-input {
    border-radius: 2px 0 0 2px;
}

.yunj-form-icon .icon-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 33px;
}

.yunj-form-icon .select-popup .result-box {
    overflow: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.yunj-form-icon .select-popup .result-box::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 5px; /* 宽度 */
}

.yunj-form-icon .select-popup .result-box::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(97, 184, 179, 0.1);
    background: #ccc;
}

.yunj-form-icon .select-popup .result-box::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(87, 175, 187, 0.1);
    border-radius: 10px;
    background: #ededed;
}

.yunj-form-icon .select-popup .result-box .title {
    font-weight: 600;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

.yunj-form-icon .select-popup .result-box .content {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0;
}

.yunj-form-icon .select-popup .result-box .content li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 50px;
    color: #8a8a8a;
    cursor: pointer;
    border: 1px solid #fff;
}

.yunj-form-icon .select-popup .result-box .content li:hover {
    border-color: #eee;
}

.yunj-form-icon .select-popup .result-box .content li i {
    font-size: 18px !important;
}

.yunj-form-icon .select-popup .result-box .content li .icon-name {
    margin: 5px 0;
    text-align: center;
}

.yunj-admin-sm .yunj-form-item-label-width-fill,
.yunj-form-table,
.yunj-form-markdown {
    display: flex;
    flex-direction: column;
}

.yunj-admin-sm .yunj-form-item.layui-form-hidden {
    margin: 0;
}

.yunj-admin-sm .yunj-form-item .layui-form-label {
    height: 30px;
    line-height: 30px;
    width: auto;
    min-width: 5%;
    max-width: 25%;
    box-sizing: border-box;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.yunj-admin-sm .yunj-form-item .layui-form-label .desc-icon {
    margin-left: 5px;
    cursor: pointer;
}

.yunj-admin-sm .yunj-form-item .layui-form-label .desc-icon:hover {
    color: var(--primary-color);
}

.yunj-admin-sm .yunj-form-item-label-width-fill .layui-form-label,
.yunj-form-table .layui-form-label,
.yunj-form-markdown .layui-form-label {
    width: 100% !important;
    min-width: 100% !important;
    justify-content: left !important;
}

.yunj-admin-sm .yunj-form-item-label-width-fill .layui-input-inline,
.yunj-form-table .layui-input-inline,
.yunj-form-markdown .layui-input-inline {
    margin: 0 !important;
    width: 100% !important;
}

.yunj-admin-sm .yunj-form-item-label-width-fill .editormd {
    margin: 0;
}

.yunj-admin-sm .yunj-form-item-label-width-fill select {
    display: inline-block;
}

.yunj-admin-sm .yunj-form-item .yunj-form-item-control {
    margin: 0;
    flex: 1;
}

/* 单一字段调用使用 */
.yunj-form-item > :first-child.yunj-form-item-control {
    width: 100%;
}

.yunj-admin-sm .yunj-form-item .yunj-input-pane {
    border: 1px solid #e6e6e6;
    border-left: 0;
}

/*.yunj-admin-sm .yunj-form-item .yunj-form-item-desc {*/
/*    width: 100%;*/
/*    color: #999;*/
/*}*/

.yunj-admin-sm .layui-form-checkbox span {
    font-size: 12px;
}

.yunj-admin-sm .fly-none .layui-icon {
    line-height: 300px;
    font-size: 300px;
    color: #393D49;
}

.layui-btn-primary {
    border: 1px solid #C9C9C9;
    background-color: #fff !important;
}

/**--------下拉按钮组---------**/
.yunj-dropdown-group {
    display: inline-block;
}

.layui-table-cell .templet-item-box .yunj-dropdown-group {
    vertical-align: middle;
}

.yunj-dropdown-group .btn-group-control {
    margin-right: 0 !important;
}

.yunj-dropdown-group .btn-group-open:after {
    content: '\e61a';
}

.yunj-dropdown-group .btn-group-retract:after {
    content: '\e619';
}

.yunj-dropdown-group dl {
    display: none;
    position: fixed;
    z-index: 999;
    top: 200px;
    left: 0;
    right: auto;
    white-space: nowrap;
    padding: 5px 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
    border: 1px solid #c9c9c9;
    border-radius: 2px;
}

.yunj-dropdown-group dl dd {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 12px;
    white-space: nowrap;
    cursor: pointer;
}

/**--------表单---------**/
.yunj-admin-sm .yunj-form-item .layui-form-radio,
.yunj-admin-sm .yunj-form-item .layui-form-checkbox {
    height: 20px;
    line-height: 20px;
}

.yunj-admin-sm .yunj-form-item .layui-form-radio {
    margin: 4px 10px !important;
}

.yunj-admin-sm .yunj-form-item .layui-form-checkbox {
    margin: 6px 10px 2px 10px !important;
}

.yunj-admin-sm .yunj-form-item .layui-form-checkbox[lay-skin=primary] {
    min-height: 20px !important;
}

/*默认风格的checkbox*/
.yunj-admin-sm .yunj-form-item .layui-form-checkbox:not([lay-skin=primary]) i {
    height: 18px !important;
}

.yunj-admin-sm .layui-form-switch {
    margin-top: 2px !important;
}

/**--------表格构建器---------**/
.yunj-table-box #yunj_table_data {
    margin: 0;
}

.yunj-table-box .filter-form {
    display: none;
    flex-wrap: wrap;
}

.yunj-table-box .filter-form-this {
    display: flex;
}

.yunj-table-box .filter-form .filter-form-item-box {
    padding-right: 30px;
    margin-bottom: 15px !important;
}

.yunj-table-box .filter-form .filter-form-layout-control {
    display: none;
    border: none;
    color: var(--primary-color);
}

.yunj-table-box .filter-form .yunj-form-item:last-child .actions-box {
    display: flex;
}

.yunj-table-box table .layui-btn-container .layui-btn,
.layui-layer .layui-layer-content .layui-table-tips-main .layui-btn {
    margin-bottom: 0;
}

.yunj-table-filter-box {
    margin-bottom: 15px;
}

.yunj-table-lay-table-box .layui-table,
.yunj-table-lay-table-box .layui-table-view {
    margin: 0;
}

.yunj-table-drag-sort-item {
    font-size: 12px;
    cursor: move;
}

.yunj-table-drag-sort-item > .content {
    display: inline-block;
    position: relative;
}

.yunj-table-drag-sort-item > .content > i {
    display: none;
    position: absolute;
    right: 100%;
}

.yunj-table-drag-sort-item:hover > .content > i {
    display: inline-block;
}

.yunj-table-drag-sort-item-checked {
    background-color: #f2f2f2;
}

/* 表格导出提示 */
.yunj-table-export-prompt-box {
    padding: 15px 15px 0 15px;
    display: flex;
}

.yunj-table-export-prompt-box .label,
.yunj-table-export-prompt-box .file-ext {
    line-height: 28px;
    border: 1px solid #e6e6e6;
    background-color: #FBFBFB;
    padding: 0 5px;
}

.yunj-table-export-prompt-box .label {
    border-radius: 2px 0 0 2px;
}

.yunj-table-export-prompt-box .file-ext {
    border-radius: 0 2px 2px 0;
}

.yunj-load-rate {
    min-width: 200px !important;
}

.yunj-load-rate .layui-layer-btn {
    padding: 0;
}

.yunj-load-rate .load-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.yunj-load-rate .layui-icon-loading {
    font-size: 30px !important;
}

.yunj-load-rate .load-tips, .yunj-load-rate .load-rate {
    margin-left: 5px;
}

.yunj-load-progress .load-box .tips-box {
    max-width: 220px;
    word-wrap: break-word;
    word-break: break-all;
}

.yunj-admin-sm .yunj-form-item .layui-form-label .require,
.yunj-admin-sm .yunj-form-item .yunj-form-item-control .layui-table-cell .require {
    color: var(--danger-color);
}

.yunj-form-box .layui-tab {
    margin: 15px 0;
}

.yunj-form-box .yunj-dropdown-group {
    margin-left: 10px;
}

.yunj-form-box .yunj-dropdown-group .btn-group-control {
    height: 30px;
    line-height: 30px;
}

.yunj-form-box .yunj-form-header .content {
    /*padding-bottom: 10px;*/
    display: flex;
    justify-content: space-between;
}

.yunj-form-box .yunj-form-header .content h2 {
    line-height: 30px;
}

.yunj-form-box .layui-tab .layui-tab-content {
    padding: 15px 0 0 0;
}

/* head-fixed 表单头部固定 */
.yunj-form-box.head-fixed .progress,
.yunj-form-box.head-fixed .yunj-form-header,
.yunj-form-box.head-fixed .layui-tab-title,
.yunj-form-box.head-fixed .layui-tab-content {
    margin: 0 15px;
    position: fixed;
    left: 0;
    right: 0;
    background: #fff;
    opacity: 1;
}

.yunj-form-box.head-fixed .progress {
    top: 40px;
    height: 10px;
}

.yunj-form-box.head-fixed .yunj-form-header {
    top: 50px;
    z-index: 1; /* 防止移动端操作下拉展开被遮挡 */
}

.yunj-form-box.head-fixed .layui-tab-title {
    top: 100px;
}

.yunj-form-box.head-fixed .layui-tab-content {
    margin: 0;
    padding: 0 15px;
    top: 150px;
    bottom: 0;
    overflow-y: auto;
}

.yunj-popup .yunj-form-box.head-fixed .progress {
    top: 0;
}

.yunj-popup .yunj-form-box.head-fixed .yunj-form-header {
    top: 10px;
}

.yunj-popup .yunj-form-box.head-fixed .layui-tab-title {
    top: 60px;
}

.yunj-popup .yunj-form-box.head-fixed .layui-tab-content {
    top: 110px;
}

/* 图片上传 */
.yunj-form-image .upload-trigger,
.yunj-form-file .upload-trigger {
    display: none;
}

.yunj-form-image .image-box {
    display: flex;
    flex-wrap: wrap;
}

.yunj-form-image .preview-box .select-box {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.yunj-form-image .preview-box .select-box:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.yunj-form-image .preview-box > .item,
.yunj-form-image .preview-box > .select-box {
    width: 110px;
    height: 110px;
    margin: 0 5px 5px 5px;
    border: 1px dashed #d2d2d2;
    color: #d2d2d2;
    cursor: pointer;
}

.yunj-form-image .preview-box .select-box .upload-icon,
.yunj-form-image .preview-box .select-box .limit-count-desc {
    font-size: 16px !important;
}

.yunj-form-image .preview-box .select-box .limit-count-desc {
    display: none;
    margin-left: 5px;
    letter-spacing: 2px;
}

.yunj-form-image .preview-box .item .item-delete,
.yunj-form-image .preview-box .item .error-tips,
.yunj-form-image .preview-box .item .layui-progress,
.yunj-form-image .preview-box .item {
    cursor: pointer;
}

.yunj-form-image .image-box.multi .item {
    cursor: move;
}

.yunj-form-image.readonly .image-box .item {
    cursor: pointer;
}

.yunj-form-image .preview-box .item:hover {
    border-color: var(--primary-color);
}

.yunj-form-image .preview-box .item.sort-checked {
    background-color: #f2f2f2;
}

.yunj-form-image .preview-box {
    display: none;
    flex-wrap: wrap;
}

.yunj-form-image .preview-box .item {
    position: relative;
}

.yunj-form-image .preview-box .item .item-delete {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 5px;
    font-size: 18px;
    color: #d2d2d2;
}

.yunj-form-image .preview-box .item .item-delete:hover {
    color: var(--danger-color);
}

.yunj-form-image .preview-box .item .error-tips {
    background-color: var(--danger-color);
    color: #fff;
    padding: 2px 5px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    white-space: nowrap;
    overflow-x: auto;
}

.yunj-form-image .preview-box .item .layui-progress {
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 0;
}

.yunj-form-image .preview-box .item .layui-progress-bar {
    border-radius: 0;
}

.yunj-form-file .select-box,
.yunj-form-file .preview-box .item {
    display: flex;
    width: 250px;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
}

.yunj-form-file .preview-box .item {
    margin-bottom: 10px;
}

.yunj-form-file .select-box {
    align-items: center;
    justify-content: center;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    cursor: pointer;
    color: #d2d2d2;
}

.yunj-form-file .select-box:hover,
.yunj-form-file .preview-box .item-download:hover {
    border-color: var(--primary-color) !important;
    color: var(--primary-color);
}

.yunj-form-file .select-box .limit-count-desc {
    display: none;
    letter-spacing: 1px;
    margin-left: 5px;
}

.yunj-form-file .preview-box .item-input {
    flex: 1;
    cursor: pointer;
}

.yunj-form-file .file-box.multi .item-input {
    cursor: move;
}

.yunj-form-file.readonly .file-box .item-input {
    cursor: pointer;
}

.yunj-form-file .preview-box .item-action-box {
    display: flex;
}

.yunj-form-file .preview-box .item-action-box .item-action {
    height: 30px;
    line-height: 30px;
    width: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #e6e6e6;
}

.yunj-form-file .preview-box .item-tips,
.yunj-form-file .preview-box .item-delete:hover,
.yunj-form-file .preview-box .item-upload-cancel:hover {
    border-color: var(--danger-color) !important;
    color: var(--danger-color);
}

.field-color-box .field-color-action-box {
    display: flex;
}

.field-color-box .field-color-action-input {
    cursor: pointer;
    border-radius: 2px 0 0 2px;
    /*width: 70px;*/
}

.field-color-box .field-color-action-show {
    height: 30px;
    width: 34px;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    background: #000;
}

/* 树 */
.yunj-form-tree .ztree {
    margin: 0;
    border: 0;
    background: none;
    height: initial;
    overflow-y: auto;
}

.yunj-form-tree .ztree li > a:hover {
    text-decoration: none;
}

.yunj-tree-node-option:hover {
    color: var(--primary-color);
}

/* 下拉搜索框 */
.yunj-form-select .show-box > input {
    cursor: pointer;
}

.yunj-form-date .show-box,
.yunj-form-tree .show-box,
.yunj-form-dropdown-search .show-box {
    height: 28px;
    border-radius: 0 2px 2px 0;
    padding: 0 10px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.yunj-form-date .show-box input {
    border: 0;
    height: 28px;
    line-height: 28px;
    margin: 0 10px;
    cursor: auto;
    min-width: 40px;
    flex: 1;
}

.yunj-form-date .show-box.range input {
    text-align: center;
}

.yunj-form-date .show-box input:last-child {
    margin-right: 0;
}

.yunj-form-date .show-box .range {
    height: 28px;
    line-height: 28px;
}

.yunj-form-tree .show-box:hover,
.yunj-form-dropdown-search .show-box:hover {
    border-color: #D2D2D2;
}

.yunj-form-tree .show-box > .items-box,
.yunj-form-dropdown-search .show-box > .items-box {
    height: 28px;
    flex: 1;
    width: 0;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.yunj-form-image .preview-box .item .error-tips::-webkit-scrollbar,
.yunj-form-tree .show-box > .items-box::-webkit-scrollbar,
.yunj-form-dropdown-search .show-box > .items-box::-webkit-scrollbar {
    /*滚动条整体样式*/
    height: 5px; /* 高度 */
}

.yunj-form-image .preview-box .item .error-tips::-webkit-scrollbar-thumb,
.yunj-form-tree .show-box > .items-box::-webkit-scrollbar-thumb,
.yunj-form-dropdown-search .show-box > .items-box::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(97, 184, 179, 0.1);
    background: #ccc;
}

.yunj-form-image .preview-box .item .error-tips::-webkit-scrollbar-track,
.yunj-form-tree .show-box > .items-box::-webkit-scrollbar-track,
.yunj-form-dropdown-search .show-box > .items-box::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(87, 175, 187, 0.1);
    border-radius: 10px;
    background: #ededed;
}

.yunj-form-tree .show-box .item,
.yunj-form-dropdown-search .show-box .item {
    height: 22px;
    margin-right: 5px;
    padding: 0 5px;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.yunj-form-tree .show-box .item:hover,
.yunj-form-dropdown-search .show-box .item:hover {
    border-color: #D2D2D2;
}

.yunj-form-tree .show-box .item-txt,
.yunj-form-dropdown-search .show-box .item-txt {
    flex: 1;
}

.yunj-form-tree .show-box .item-remove,
.yunj-form-dropdown-search .show-box .item-remove {
    color: #e6e6e6;
    margin-bottom: -2px;
}

.yunj-form-tree .show-box .item-remove:hover,
.yunj-form-dropdown-search .show-box .item-remove:hover {
    color: var(--danger-color);
}

.yunj-form-dropdown-search .select-popup > .content > :first-child {
    margin-bottom: 5px;
}

.yunj-form-dropdown-search .select-popup > .content > .layui-input {
    border: 1px solid #eee;
    border-radius: 0;
}

.yunj-form-select .select-popup > .content > .items-box,
.yunj-form-dropdown-search .select-popup > .content > .items-box {
    max-height: 300px;
    overflow-y: auto;
}

.yunj-form-select .select-popup > .content > .items-box dd,
.yunj-form-dropdown-search .select-popup > .content > .items-box dd {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.yunj-form-select .select-popup > .content > .items-box dd:hover,
.yunj-form-dropdown-search .select-popup > .content > .items-box dd:hover {
    background-color: #f2f2f2;
}

.yunj-form-select .select-popup > .content > .items-box dd.active,
.yunj-form-dropdown-search .select-popup > .content > .items-box dd.active {
    color: var(--primary-color);
}

.yunj-form-markdown .cherry-toolbar {
    box-shadow: none !important;
    border-top: 1px solid #ebedee !important;
    border-bottom: 1px solid #ebedee !important;
}

/* 元素进度条 */
.yunj-elem-progress, .yunj-elem-progress .yunj-elem-progress-bar {
    height: 2px;
}

.yunj-col-xs-offset1,
.yunj-col-sm-offset1,
.yunj-col-md-offset1,
.yunj-col-lg-offset1,
.yunj-col-xl-offset1 {
    margin-right: 8.33333333%;
}

.yunj-col-xs-offset2,
.yunj-col-sm-offset2,
.yunj-col-md-offset2,
.yunj-col-lg-offset2,
.yunj-col-xl-offset2 {
    margin-right: 16.66666667%;
}

.yunj-col-xs-offset3,
.yunj-col-sm-offset3,
.yunj-col-md-offset3,
.yunj-col-lg-offset3,
.yunj-col-xl-offset3 {
    margin-right: 25%;
}

.yunj-col-xs-offset4,
.yunj-col-sm-offset4,
.yunj-col-md-offset4,
.yunj-col-lg-offset4,
.yunj-col-xl-offset4 {
    margin-right: 33.33333333%;
}

.yunj-col-xs-offset5,
.yunj-col-sm-offset5,
.yunj-col-md-offset5,
.yunj-col-lg-offset5,
.yunj-col-xl-offset5 {
    margin-right: 41.66666667%;
}

.yunj-col-xs-offset6,
.yunj-col-sm-offset6,
.yunj-col-md-offset6,
.yunj-col-lg-offset6,
.yunj-col-xl-offset6 {
    margin-right: 50%;
}

.yunj-col-xs-offset7,
.yunj-col-sm-offset7,
.yunj-col-md-offset7,
.yunj-col-lg-offset7,
.yunj-col-xl-offset7 {
    margin-right: 58.33333333%;
}

.yunj-col-xs-offset8,
.yunj-col-sm-offset8,
.yunj-col-md-offset8,
.yunj-col-lg-offset8,
.yunj-col-xl-offset8 {
    margin-right: 66.66666667%;
}

.yunj-col-xs-offset9,
.yunj-col-sm-offset9,
.yunj-col-md-offset9,
.yunj-col-lg-offset9,
.yunj-col-xl-offset9 {
    margin-right: 75%;
}

.yunj-col-xs-offset10,
.yunj-col-sm-offset10,
.yunj-col-md-offset10,
.yunj-col-lg-offset10,
.yunj-col-xl-offset10 {
    margin-right: 83.33333333%;
}

.yunj-col-xs-offset11,
.yunj-col-sm-offset11,
.yunj-col-md-offset11,
.yunj-col-lg-offset11,
.yunj-col-xl-offset11 {
    margin-right: 91.66666667%;
}

.yunj-col-xs-offset12,
.yunj-col-sm-offset12,
.yunj-col-md-offset12,
.yunj-col-lg-offset12,
.yunj-col-xl-offset12 {
    margin-right: 100%;
}

@media screen and (max-width: 768px) {

    .yunj-form {
        margin: 0 !important;
    }

    .yunj-form > .layui-row > div {
        padding: 0 0 15px 0 !important;
    }

    .yunj-form-item {
        display: flex;
        flex-direction: column;
    }

    .yunj-form-item .layui-form-label {
        width: 100% !important;
        min-width: 100% !important;
        justify-content: left !important;
    }

    .yunj-form-item .layui-input-inline {
        margin: 0;
        width: 100%;
    }

    .yunj-form-box .yunj-form-header .content h2 {
        display: none !important;
    }

    .yunj-form-box.head-fixed .layui-tab-title {
        top: 91px;
    }

    .yunj-popup .yunj-form-box.head-fixed .layui-tab-title {
        top: 51px;
    }

    .layui-form-item .layui-input-inline {
        left: 0;
        margin: 0 10px 10px 0;
    }

    .yunj-form-image .preview-box {
        margin: 0 -5px;
    }

    .yunj-form-image .preview-box > .item,
    .yunj-form-image .preview-box > .select-box {
        margin: 5px;
    }

    .yunj-form-file .select-box,
    .yunj-form-file .preview-box .item {
        width: 100%;
    }

    .mobile-hide {
        display: none !important;
    }

    .yunj-table-box .filter-form .filter-form-item-box {
        padding-right: 0;
    }

    .yunj-table-box .filter-form .filter-form-layout-control {
        display: inline-block;
    }

    /* 展开 */
    .yunj-table-box .filter-form.filter-form-unfold .filter-form-layout-control:before {
        content: '展开 ';
    }

    .yunj-table-box .filter-form.filter-form-unfold .filter-form-layout-control:after {
        content: '\e61a';
    }

    /* 收起 */
    .yunj-table-box .filter-form.filter-form-stow .filter-form-layout-control:before {
        content: '收起 ';
    }

    .yunj-table-box .filter-form.filter-form-stow .filter-form-layout-control:after {
        content: '\e619';
    }
}

/* 表格事件日期表头 */
.templet-item-box .table-row-datetime {
    cursor: pointer;
}

/* 表格图片预览 */
.templet-item-box .table-row-image-item {
    height: 28px;
    cursor: pointer;
    display: inline-block;
}

/* 表格文件表头 */
.templet-item-box .table-row-file-item {
    color: #01AAED;
}

.templet-item-box .table-row-file-item:hover {
    color: var(--primary-color);
}

/* 表格颜色表头 */
.templet-item-box .table-row-color {
    padding-left: 5px;
    border: 0;
    border-left: 10px solid;
    color: #c2c2c2;
    cursor: pointer;
}

/* 表格地区表头 */
.templet-item-box .table-row-area {
    cursor: pointer;
}

/* 表格json表头 */
.templet-item-box .table-row-json {
    display: flex;
    align-items: center;
}

.templet-item-box .table-row-json .txt {
    width: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.templet-item-box .table-row-json .btn-json-view {
    cursor: pointer;
}

/* 表格icon表头 */
.templet-item-box .table-row-icon {
    display: inline-block;
    cursor: pointer;
}

/* 表格enum表头 */
.templet-item-box .table-row-enum .item {
    padding: 3px 5px;
    /*color: #fff;*/
    /*background-color: red;*/
    border-radius: 5px;
}

/* 主题 */
.theme-box {
    height: 100%;
    overflow-y: auto;
}

.theme-box li {
    margin: 10px;
    height: 90px;
    cursor: pointer;
    background-color: #f5f5f5;
    border: 1px solid #f2f2f2;
    position: relative;
}

.theme-box li.active {
    border-color: #999;
}

.theme-box li:hover {
    border-color: #999;
}

.theme-box li .t {
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.theme-box li .l {
    position: absolute;
    top: 20px;
    left: 0;
    bottom: 0;
    z-index: 999;
    width: 40px;
}

.theme-box li .l .item {
    height: 5px;
    margin-top: 5px;
}