:root {
    --primary-color: #2196f3;
}

.header {
    background: linear-gradient(to left, #7b4397, var(--primary-color));
}

.left-nav a.active {
    background: linear-gradient(to left, #7c8ce4, var(--primary-color));
}

.left-nav a:hover {
    background: linear-gradient(to left, #7c8ce4, var(--primary-color));
}

/* 登录 */
.login .message {
    background: linear-gradient(to left, #7c8ce4, var(--primary-color));
}

/* 顶部菜单 */
.header .top-menu > .top-menu-item .top-menu-item:hover > a {
    background: linear-gradient(to left, #7c8ce4, var(--primary-color));
}