:root {
    --gorgeous-tpl-primary-color: #2196f3;
}

.theme-box li.gorgeous .t {
    background: linear-gradient(to left, #7b4397, var(--gorgeous-tpl-primary-color));
}

.theme-box li.gorgeous .l {
    background: #fff;
}

.theme-box li.gorgeous .l .item {
    background: linear-gradient(to left, #7b4397, var(--gorgeous-tpl-primary-color));
}